<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Day2</title>
    <script src="https://unpkg.com/vue@next"></script>
    <style>
        .red {
            color: red;
        }
        .table-row {
            border: 1px solid #dddddd;
	        padding: 5px;
            text-align: center;
        }
        .table {
	    width: 50%;
	    margin-bottom: 20px;
	    border: 1px solid #dddddd;
	    border-collapse: collapse;
        }
        .th {
            font-weight: bold;
	    padding: 5px;
	    background: #efefef;
	    border: 1px solid #dddddd;
        }
    </style>
</head>
<body>
    <div id="app">
        <input type="text" v-model="search" placeholder="search">
        <div class="addButtonBlock">
            <input id="inputId" type="text" v-model="studentId" placeholder="123" disabled>
            <input type="text" placeholder="ПІБ" v-model="pib">
            <input type="text" placeholder="Група" v-model="group">
            <input type="text" placeholder="Рік_народження" v-model="birthDate">

            <button @click="students.push({'id':students.length+1,'ПІБ':pib, 'Група':group, 'Рік_народження':birthDate})">
                Додати
            </button>
        </div>
        <table class="table">
            <tr>
                <th class="th" v-for="c in columns">
                    {{ c }}
                </th>
            </tr>
            <tr v-for="s in students" v-bind:class="search!==''&&s.ПІБ.toLowerCase().includes(search.toLowerCase()) ? 'red' : 'black'">
                <td class="table-row">
                    {{ s.ПІБ}}
                </td>
                <td class="table-row">
                    {{ s.Група }}
                </td>
                <td class="table-row">
                    {{ s.Рік_народження }}
                </td>
                <td class="table-row">
                    <input type="checkbox">
                </td>
                <td class="table-row">
                    <button @click="deleteStudent(s.id)">Видалити</button>
                </td>
            </tr>
        </table>
        <h3 v-for="s in students">
            {{ s }}
        </h3>
        <div id="colorfullBlock" v-bind:style="{width: '100px',height: '100px', backgroundColor: 'red'}" onmouseover="document.getElementById('colorfullBlock').style.backgroundColor = 'black'" onmouseout="document.getElementById('colorfullBlock').style.backgroundColor = 'red'"></div>
    </div>
</body>
<script>
    var studentsArray = [
            {
                "id": 1,
                "ПІБ":"Мажура Кирило Олегович",
                "Група":"РПЗ 20 2/9",
                "Рік_народження":"2005",
                "Здав_нездав":"true"
            },
            {
                "id": 2,
                "ПІБ":"Добровольский Євгеній Олександрович",
                "Група":"РПЗ 20 2/9",
                "Рік_народження":"2005",
                "Здав_нездав":"true"
            },
            {
                "id": 3,
                "ПІБ":"Пугач Костянтин Андрійович",
                "Група":"РПЗ 20 2/9",
                "Рік_народження":"2004",
                "Здав_нездав":"true"
            },
  	        {
                "id": 4,
                "ПІБ":"Іванов Іван Іванович",
                "Група":"РПЗ 20 500/700",
                "Рік_народження":"2000",
                "Здав_нездав":"false"
            },
            ]
        var columnsArray = [
                "ПІБ",
                "Група",
                "Рік_народження",
                "Здав_нездав"
        ]
    const { createApp, ref, computed} = Vue;
    createApp({
        setup() {
            const students = ref(studentsArray)
            const columns = ref(columnsArray)
            const search = ref("")
            const studentId = ref("")
            const pib = ref("")
            const group = ref("")
            const birthDate = ref("")
            const pass = ref("")
            const test = ref(null)
            const styleObj = ref({
                width:"100px",
                heigth:"100px"
            })
            deleteStudent = function(id) {
                students.value = students.value.filter((el) => el.id !== id)
            }
            return {students, columns, deleteStudent, search, studentId, pib, group, birthDate, pass}
        }
    }).mount('#app')
</script>
</html>